body
{
    font-family: 'Poppins', sans-serif;
}

.carousel
{
    border: 1px;
    border-style: solid;
}

#personalCard
{
    background-color: #ECECEC;
}

#btitle
{
    font-size: 110%;
}

#posts
{
    text-align: center;
}
